<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PC MarketPlace{% endblock %}</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
                <img src="{% static 'app/img/goofyCat_upscaled.png' %}" alt="Logo" style="height: 40px; width: auto; margin-right: 10px;">
                <span>PC MarketPlace</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                    
                        </a>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactanos' %}">Contactanos</a>
                    </li>
                    {% if perms.app.view_pc or perms.app.add_pc %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="crudDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="crudDropdown">
                            {% if perms.app.view_pc %}
                            <li><a class="dropdown-item" href="{% url 'listar_pc' %}">Listado PC</a></li>
                            {% endif %}
                            {% if perms.app.add_pc %}
                            <li><a class="dropdown-item" href="{% url 'agregar_PC' %}">Agregar PC</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'agregar_software' %}">Agregar software</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar_software' %}">Listar software</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link" style="padding: 0; border: none; background: none;">Cerrar sesión</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@{{ user.username }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">Registrate</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ver_carrito' %}">
                            <i class="fas fa-shopping-cart" style="color: white;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer bg-dark text-white text-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Enlaces</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{% url 'index' %}" class="text-muted">Inicio</a></li>
                        <li class="list-inline-item"><a href="{% url 'nosotros' %}" class="text-muted">Nosotros</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Contacto</h4>
                    <p class="lead mb-0">
                        Dirección: DuocUC Sede Maipú, Maipú, Chile<br>
                        Teléfono: (56) 978310482<br>
                        Email: emm.cordero@duocuc.cl
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>
