{% extends 'app/base.html' %}
{% load static %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="scripts/carrito.js"></script>

{% endblock %}

{% block css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


{% endblock %}


{% block title %}locura{% endblock %}



{% block content %}

<section id="productosPC">
    <div class="container mt-4">
        <div class="mb-4 text-center">
            <h2>PC de Escritorio</h2>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{%static 'app/img/pc1.PNG' %}" class="card-img-top" alt="PC de Escritorio" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">PC de Gama Alta</h5>
                        <ul class="list-unstyled">
                            <li><strong>Procesador:</strong> Intel Core i7 de 10ª generación</li>
                            <li><strong>Tarjeta Gráfica:</strong> NVIDIA GeForce RTX 3080</li>
                            <li><strong>Placa Base:</strong> ASUS ROG Strix Z490</li>
                            <li><strong>RAM:</strong> 16 GB DDR4</li>
                            <li><strong>Almacenamiento:</strong> SSD NVMe1 TB</li>
                        </ul>
                        <p class="card-text">Esta PC de escritorio ofrece un rendimiento excepcional en juegos y trabajo creativo gracias a su potente hardware.</p>
                        <button class="btn btn-primary btn-agregar-carrito" data-nombre="PC de Gama Alta" data-precio="2000" data-imagen="img/pc1.PNG">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{%static 'app/img/pc2.PNG' %}" class="card-img-top" alt="PC de Escritorio" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">PC de Gama Media</h5>
                        <ul class="list-unstyled">
                            <li><strong>Procesador:</strong> Intel Core i5 de 10ª generación</li>
                            <li><strong>Tarjeta Gráfica:</strong> NVIDIA GeForce GTX 1650</li>
                            <li><strong>Placa Base:</strong> ASUS Prime H510M</li>
                            <li><strong>RAM:</strong> 8 GB DDR4</li>
                            <li><strong>Almacenamiento:</strong> SSD de 512 GB</li>
                        </ul>
                        <p class="card-text">Esta PC de escritorio ofrece un equilibrio entre rendimiento y costo, ideal para juegos ligeros y trabajos creativos básicos.</p>
                        <button class="btn btn-primary btn-agregar-carrito" data-nombre="PC de Gama Media" data-precio="1500" data-imagen="img/pc2.PNG">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{%static 'app/img/pc3.PNG' %}" class="card-img-top" alt="PC de Escritorio" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">PC de Gama Baja</h5>
                        <ul class="list-unstyled">
                            <li><strong>Procesador:</strong> Intel Pentium Gold</li>
                            <li><strong>Tarjeta Gráfica:</strong> Integrada Intel UHD Graphics</li>
                            <li><strong>Placa Base:</strong> MSI H410M Pro</li>
                            <li><strong>RAM:</strong> 4 GB DDR4</li>
                            <li><strong>Almacenamiento:</strong> Disco duro de 1 TB</li>
                        </ul>
                        <p class="card-text">Esta PC de escritorio de gama baja es perfecta para tareas cotidianas, navegación por Internet y uso doméstico.</p>
                        <button class="btn btn-primary btn-agregar-carrito" data-nombre="PC de Gama Baja" data-precio="1000" data-imagen="img/pc3.PNG">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}