{% extends 'app/base.html' %}
{% load static %}

{% block title %}locura{% endblock %}

{% block css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block content %}

<section id="productosSoftware">
    <div class="container mt-4">
        <!-- Agrega este div para crear un espacio entre las secciones -->
        <div class="mb-4 text-center">
            <h2>Software</h2>
        </div>
<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="{% static 'app/img/software1.PNG' %}" class="card-img-top" alt="Software de Diseño Gráfico" style="height: 200px; object-fit: contain;">
            <div class="card-body">
                <h5 class="card-title">Windows 10 key</h5>
                <p class="card-text">Una clave de Windows 10 es el código de licencia que se requiere para activar el sistema operativo y verificar que es genuino. Permite a los usuarios recibir actualizaciones y soporte.</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
    <!-- Agrega más tarjetas de productos de software según sea necesario -->
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="{% static 'app/img/software2.PNG' %}" class="card-img-top" alt="Software de Diseño Gráfico" style="height: 200px; object-fit: contain;">
            <div class="card-body">
                <h5 class="card-title">Microsoft office Key</h5>
                <p class="card-text">Una clave para Microsoft Office es un código de activación para desbloquear el uso completo de las aplicaciones de productividad de Office, como Word, Excel, y PowerPoint. También garantiza acceso a actualizaciones y servicios adicionales.</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="{% static 'app/img/software3.PNG' %}" class="card-img-top" alt="Software de Diseño Gráfico" style="height: 200px; object-fit: contain;">
            <div class="card-body">
                <h5 class="card-title">FL Studio Key</h5>
                <p class="card-text">Una clave para FL Studio es un código que activa una licencia del software de producción musical. Se usa para desbloquear funciones completas y remover restricciones en versiones de prueba.</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}
